# Database
DB_HOST=localhost
POSTGRES_USER=expediciones
POSTGRES_PASSWORD=expediciones123
POSTGRES_DB=expediciones-db
POSTGRES_PORT=5433

# JWT
JWT_SECRET=change-this-secret
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# App
PORT=3000
